{% extends 'ScourgenPersonFinderBundle::Layout.html.twig' %}

{% block page_header %}
    <div class="jumbotron">
        <h1>找人平台</h1>
        <p class="lead">灾难来临，我们可能会失去亲朋好友的联系，通过这个平台，我们帮助他们找到彼此。</p>
        <a class="btn btn-large btn-success" href="{{ path('seek_index') }}">我要找人/提供线索</a>
    </div>
{% endblock %}


{% block content %}

{% endblock %}
